<!DOCTYPE html>
<head>
    <title>青年大学习</title>
    <meta http-equiv="cache-control" content="max-age=60">
    <meta http-equiv="keywords" content="">
    <meta http-equiv="description" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script type="text/javaScript" src="./vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./pub.css">
    <link rel="stylesheet" type="text/css" href="./allPage.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">

</head>

<body>
    <div id="main">
        <div id="xxjldetail">
            <div class="xxjl_xjtj xxjl_xjtj_s" style="display: none">数据统计
            </div>
            <div class="wdxxjl">我的学习记录</div>
            <div class="selectyear">
                <span>年度:</span>
                <select v-model="yearselected" id="chooseyear">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div class="jlList">
                <div>
                    <span>期数</span> <span>学习团组织</span> <span>登录信息</span>
                </div>

                <div class="jlItem" v-for="(item,index) in record.vds">
                    <span>{{item.versionname}}</span> <span style="text-decoration: underline;">{{item.tzzmc}}</span>
                    <span>{{item.xm}}
                        {{item.sjhm}}<br>{{item.dtsj}}
                    </span>
                </div>
            </div>
            <img @click="nowPage='my'" class="goback" src="./go_back.png">
        </div>
    </div>

</body>